
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un contact</title>
</head>
<body>
    <h1>Ajouter un contact</h1>
    <form action="/contacts/new" method="post">
        <label for="fullName">Nom complet :</label>
        <input type="text" id="fullName" name="FullName"><br><br>
        <label for="phone">Téléphone :</label>
        <input type="text" id="phone" name="Phone"><br><br>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
