<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Contacts</title>
</head>
<body>
    <h1>Search Contacts</h1>
    <form action="/contacts/search" method="get">
        <label for="fullName">Enter Name:</label>
        <input type="text" id="fullName" name="fullName">
        <input type="submit" value="Search">
    </form>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.FullName }}</td>
                    <td>{{ contact.Phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
